/* header */
.header {
  font-family: 'Arial', sans-serif;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  width: 100%;
  background-color: #02175e83;
}
.tlo {
  /*position: relative;*/
  width: 100%;
}
.tlo img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
}
.buttons-dev {
  position: absolute;
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  display: flex;
  gap: 10px; /* Spacing between buttons */
}
.header .week {
  width: 100%;
  font-size: 14px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons {
  position: absolute;
  top: 20px; /* Odległość od górnej krawędzi */
  right: 20px; /* Odległość od prawej krawędzi */
  /*display: flex;
  align-items: center;
  margin-left: auto; */
}

  .buttons {
    background-color: #080008;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;

  }
  .buttons:hover {
    background-color: #f728b9; /* Zmiana koloru przy podświetleniu */
  }
  .stylist{
    width: 100%;
  }
  .localization{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px; 
  }
  .localization img{
    width: 5em;
    margin-right: 10px;
  }
  .localization p{
    margin: 0
  }
  
  .localization-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .localization-text p:first-child {
    font-weight: bold;
  }
  
  .localization-text p:last-child {
    font-weight: normal;
  }
/* info */
  .info {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    color: rgb(0, 0, 0);
    background-color: white;
    width: 100%;
    /*max-width: 35%;*/ 
    margin: 0 auto; 
    margin-bottom: 20px; /* Dodaj odstęp na dole */
  }
    
  
  .line {
    width: 100%;
    height: 0.05px;
    background-color: black;
    margin: 10px 0; 
  }
.info .week p:not(.title),
.info .hours p:not(.title) {
  font-size: 14px; 
}
 .hours p:nth-of-type(1),
 .week p:nth-of-type(1) 
 {
    font-size: 24px;
    margin: 0; 
    text-align: center;
    flex: 1; 
    padding: 0 10px; 
  }

/* footer */

.footer {
  display: flex;
  justify-content: center;
  gap:5em;
  align-items: flex-start;
  width: 100%;
  background-color: #030003;
  color: white;
  padding: 20px;

}

.section {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.address h2,
.contact-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.address p,
.contact-info p {
  font-size: 15px;
  margin: 5px 0;
}

.social-icons {
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 2em;
  height: 2em;
}

.separator {
  width: 2px;
  background-color: #ffffff;
  margin: 0 20px;
}



/* services */
.services {
  color: rgb(0, 0, 0);
  padding: 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}

.hairdressers,
.info {
  margin-top: 100px;
  flex: 1; 
  min-width: 200px; 
  margin-right: 20px; 
}


.hairdressers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0px; 
  margin-bottom: 0px;
  padding-left: 20px;
}

.hairdresser {
  width: 100%;
  border: 1px solid #00000083; /* kolor ramek */
  border-radius: 5px;
  margin: 5px;
  transition: all 0.3s ease;
  
}

.hairdresser:hover {
  box-shadow: 0px 0px 5px 0px #ccc;
}

.hairdresser-info {
  display: flex;
  flex-direction: column;
  border: 1px solid #00000083;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.hairdresser-row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.hairdresser-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 20px;
}

.hairdresser-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.hairdresser-name {
  font-weight: bold;
  margin-right: 10px;
}

.hairdresser-offer {
  margin-left: auto;
}

.details {
  display: none;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.hairdresser-info.expanded .details {
  display: flex;
}

.service-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.service-item button {
  margin-left: 10px;
}


.service-item {
  /* border-top: 1px solid white;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.service-item p {
  margin: 5px 0;
}
.service-item .button {
  margin-left: 10px; 
}

.title {
  font-weight: bold;
}

.price {
  text-align: right;
  margin-top: 5px;
}
/* grades */
.opinions-header {
  width: 100%;
  text-align: center;
  margin-top: 20px; 
  margin-bottom: 10px; 
}

.grades {
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: left; 
}

.grades .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grades ul {
  list-style-type: none;
  padding: 0;
}

.grades li {
  font-size: 14px;
  margin: 5px 0;
}

.stars .star {
  color: gold; /* Ustawiamy kolor gwiazdek na złoty */
  font-size: 24px; /* Zwiększamy rozmiar gwiazdek */
  cursor: pointer; /* Ustawiamy kursor na pointer, aby wskazywał na możliwość kliknięcia */
}

.stars .star.active {
  color: darkgoldenrod; /* Zmieniamy kolor aktywnej gwiazdki na ciemniejszy odcień złotego */
}


.user p {
  font-size: 18px;
  font-weight: bold;
}

.comment-section {
  margin-top: 10px;
}

.comment-section input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment-section button {
  padding: 8px 12px;
  background-color: #f529b183;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-section button:hover {
  background-color: #f529b183;
}

.comments {
  margin-top: 10px;
}

.comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment p {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
/* login */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: white; 
}

.log {
  background-color: #f529b183;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #f529b183;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #f529b183;
}


/* register */
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: white;
}

.registration-form {
  background-color:#f529b183;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.registration-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.registration-group label {
  font-weight: bold;
  display: block;
}

.registration-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
}

.registration-button {
  width: 100%;
  padding: 10px;
  background-color: #f529b183;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.registration-button:hover {
  background-color: #f529b183;
}



/* schedule */
.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.frame {
  border: 1px solid #000;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.week-header {
  text-align: center;
}

.horizontal-mini-calendar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.calendar-day {
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.selected {
  border: 2px solid #000;
}

.select-time,
.email-input {
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.submit-button button {
  cursor: pointer;
}
